<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Mahatma Gandhi</title>
    <h1>Mahatma Gandhi</h1>
    <div class="container">
      <div class="description">
        <p>
          Mahatma Gandhi, whose full name is Mohandas Karamchand Gandhi, was a
          prominent leader in India's struggle for independence from British
          rule. He is known for his philosophy of nonviolent resistance, which
          he called "Satyagraha," and his role in inspiring and leading various
          civil disobedience movements to achieve social and political change.
          Here's an overview of his life and contributions:
        </p>

        <p>
          Gandhi was born on October 2, 1869, in Porbandar, a town in
          present-day Gujarat, India. He came from a middle-class family and was
          raised with traditional Indian values. He received his education in
          India and then went to study law in London, where he was exposed to
          Western culture and political ideas.
        </p>
        <p>
          After completing his studies in London, Gandhi moved to South Africa
          to work as a lawyer. During his time there, he became acutely aware of
          the racial discrimination and injustice faced by Indians under British
          colonial rule. These experiences marked a turning point in his life
          and inspired his commitment to social and political activism.
        </p>
        <p>
          Gandhi's leadership played a crucial role in India's struggle for
          independence from British rule. His advocacy for nonviolent resistance
          gained widespread support, and his ability to mobilize large sections
          of the Indian population made him a unifying figure in the fight for
          freedom.
        </p>
      </div>
      <div class="image">
        <img src="/images/Mahatma-Gandhi,_studio,_1931.jpg.webp" alt="" />
      </div>
    </div>
  </head>
  <body></body>
</html>
