<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Works</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Works</h1>
    <div>
      <h2>The story of my experiments with truth</h2>
      <p>
        "Autobiography: The Story of My Experiments with Truth" is Mahatma
        Gandhi's autobiographical work that chronicles his life, beliefs, and
        his development of the principles of nonviolence and Satyagraha (truth
        force). In this book, Gandhi candidly reflects on his personal
        experiences, struggles, and experiments that shaped his philosophy and
        actions. The autobiography is divided into various chapters, each
        detailing different stages of Gandhi's life, from his childhood and
        early experiences to his time in South Africa and his involvement in
        India's struggle for independence. Through his narrative, Gandhi
        explores his spiritual journey, the challenges he faced, his attempts to
        live a life in accordance with his principles, and his philosophy of
        using nonviolent resistance to confront social and political injustices.
      </p>
      <h2>India of my Dreams</h2>
      <p>
        "Hind Swaraj or Indian Home Rule" is a book written by Mahatma Gandhi in
        1909. In this work, Gandhi presents his views on self-governance and the
        concept of "Swaraj," which means self-rule or home rule. The book is
        presented in the form of a dialogue between the editor and the reader,
        where Gandhi articulates his thoughts on various aspects of modern
        civilization, politics, and the future of India. In "Hind Swaraj,"
        Gandhi criticizes Western civilization and its influence on India,
        arguing that it has led to moral degradation, materialism, and
        exploitation. He proposes that true freedom and progress can only be
        achieved through the revival of Indian values, culture, and
        self-reliance. Gandhi believes that self-governance should not only
        apply to political independence but also encompass individual and
        societal development.
      </p>
      <h2>Key to Health</h2>
      <p>
        "Key to Health" is a collection of writings by Mahatma Gandhi on health
        and well-being. In this book, Gandhi discusses his philosophy of health,
        emphasizing the importance of natural remedies, a balanced lifestyle,
        and holistic living. He shares his beliefs that physical health is
        closely linked to mental and spiritual well-being, and he advocates for
        self-care and self-discipline as crucial components of a healthy life.
        The book touches on topics such as diet, fasting, exercise, and the need
        to align one's actions with ethical principles. "Key to Health" provides
        insights into Gandhi's holistic approach to health and his belief that
        simple and natural practices can contribute to individual and societal
        well-being.
      </p>
    </div>
  </body>
</html>
